<mat-card class="example-form">
	<mat-card-title> Login </mat-card-title>
  <p>{{message}}</p>
<form >

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email Address">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password">
    </mat-form-field>
 

</form>
<button mat-raised-button color="primary" (click)="login()">Login</button>
<button mat-raised-button color="accent">Cancel</button>
<p> <a href="forgotpass" >forgot password? </a>  &nbsp; &nbsp; <a href="register">Register</a></p>
	
</mat-card>