<mat-card class="example-form">
	<mat-card-title> Login </mat-card-title>
  <p>{{message}}</p>
<form >

    <mat-form-field class="example-full-width">
      <input type="email" matInput placeholder="Email Address" [(ngModel)]="model.email" name="email" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Password" [(ngModel)]="model.password" name="password" required>
    </mat-form-field>
 

</form>
<button mat-raised-button color="primary" (click)="login()">Login</button>
<button mat-raised-button color="accent">Cancel</button>
<p> <a  routerLink="/forgotpass">forgot password? </a>  &nbsp; &nbsp; <a routerLink="/register">Register</a></p>
	
</mat-card>