<mat-card class="example-form">
	<mat-card-title> Login </mat-card-title>
<form >

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email Address">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password">
    </mat-form-field>
 <button mat-raised-button color="primary">Login</button>
  <button mat-raised-button color="accent">Cancel</button>

</form>
<p> <a href="forgotpass" >forgot password? </a>  &nbsp; &nbsp; <a href="register">Register</a></p>
	
</mat-card>

<h2>LOGIN</h2>
    <p>{{message}}</p>
    <p>
      <button (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
      <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
    </p>