


<mat-card class="example-form">
	<mat-card-title> Register </mat-card-title>
<form >
 
   <mat-form-field class="example-full-width">
      <input matInput placeholder="Username">
    </mat-form-field>
     <mat-form-field class="example-full-width">
      <input matInput placeholder="Email Address">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password">
    </mat-form-field>
</form>
<button mat-raised-button color="primary">Register</button>
<button mat-raised-button color="accent">Cancel</button>
<p> <a href="forgotpass" >Forgot password? </a>  &nbsp; &nbsp; <a href="login">Login</a></p>
</mat-card>
