
<mat-toolbar>
	<button mat-button routerLink="/" >Home</button>

	
<div class="right-menu">
  <button mat-icon-button [matMenuTriggerFor]="menu" >
  <mat-icon>format_align_justify</mat-icon>
</button>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="authService.isLoggedIn" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
  <button mat-menu-item routerLink="/login" *ngIf="!authService.isLoggedIn">
    <mat-icon>forward</mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item routerLink="/register" *ngIf="!authService.isLoggedIn">
    <mat-icon>create</mat-icon>
    <span>Register</span>
  </button>
</mat-menu>
</mat-toolbar>

