<mat-card class="example-form">
	<mat-card-title> Reset password </mat-card-title>
<form >

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Confirm Password">
    </mat-form-field>
</form>
<button mat-raised-button color="primary">Reset</button>
<button mat-raised-button color="accent">Cancel</button>
<p> <a href="login" >Login? </a>  &nbsp; &nbsp; <a href="register">Register</a></p>
	
</mat-card>