<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Zahirul Haque</mat-card-title>
    <mat-card-subtitle>Full-Stack Developer</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://s-media-cache-ak0.pinimg.com/originals/d8/f3/1f/d8f31f2a3f839460cd7a74f9ce266873.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Bangladesh is the darling child of nature. Nature has rained her natural beauties on her darling child. Bangladesh is a country which is full of natural beauties. Man is lover of natural beauties of Bangladesh. Moreover none can deny the fact that Nature possesses a primary place in man’s thoughts and feelings. It exercises a great influence in man’s life.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>